{% extends "app/base.html" %}
{% block body_block %}

<div class="card">
  <div class="card-body">
    <h2>Hi, thanks for login :{{ user.get_username }}</h2>
  </div>
</div>
<!-- <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Details</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{%  url 'app:Attendances' %}">Attendance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Exam Marks</a>
      </li> -->
<br>
<div class="">

</div>
<br>
<div class="">

</div>
    {% if user.student %}
  <table class="table" style="width:90%">
  <thead>
    <th>Student Details:</th>
  </thead>
  <tr>
    <td>First Name</td>
    <td>:</td>
    <td>{{ user.student.first_name|title }}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td>:</td>
    <td>{{ user.student.last_name|title }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>:</td>
    <td>{{ user.student.email }}</td>
  </tr>
  <tr>
    <td>Department</td>
    <td>:</td>
    <td>{{ user.student.department }}</td>
  </tr>
  <tr>
    <td>course</td>
    <td>:</td>
    <td>{{ user.student.course }}</td>
  </tr>
</table>
{% else %}
<table class="table" style="width:90%">
<thead>
  <th>Parents Details:</th>
</thead>
<tr>
  <td>First Name</td>
  <td>:</td>
  <td>{{ user.parent.first_name|title }}</td>
</tr>
<tr>
  <td>Last Name</td>
  <td>:</td>
  <td>{{ user.parent.last_name|title }}</td>
</tr>
<tr>
  <td>Email</td>
  <td>:</td>
  <td>{{ user.parent.email }}</td>
</tr>
</table>

{% endif %}
</div>

{% endblock %}
