{% extends "app/base.html" %}
{% block body_block %}

<div class="container">
<h1>Please Select Login</h1>
<br>
<br>
<table style="width:100%" >
 <tr>
   <th style="text-align:center"><h4><span><strong>Student login</strong></span></h4></th>
   <!-- <th style="text-align:center"><h4><strong>Parents Login</strong></h4></th> -->
   <th style="text-align:center"><h4><strong>Teacher/admin Login</strong></h4></th>
 </tr>
 <tr>
   <td align="center"><a href="{% url 'login' %}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn0YkLK9pgSWK2eZfxkjxHE7vKwvbwfmkKbTn7-p3ExKCUh2UU" style="width:200px;height:200px;" alt=""></a></td>
   <!-- <td align="center"><a href="{% url 'login' %}"><img src="https://cdn4.iconfinder.com/data/icons/healthy-life-flat-live-long-and-prosper/512/Family_care-512.png" style="width:200px;height:200px;" alt=""></a></td> -->
   <td align="center"><a href="{% url 'admin:index' %}"><img src="http://icons.iconarchive.com/icons/google/noto-emoji-people-profession/1024/10225-woman-teacher-light-skin-tone-icon.png" style="width:200px;height:200px;" alt=""></a></td>
 </tr>
 <tr>
   <td align="center"><a class="btn btn-primary" aria-pressed="true" href="{% url 'login' %}">Let's Login</a></td>
   <!-- <td align="center"><a class="btn btn-primary" aria-pressed="true" href="{% url 'login' %}">Let's Login</a></td> -->
   <td align="center"><a class="btn btn-primary" aria-pressed="true" href="{% url 'admin:index' %}">Let's Login</a></td>
 </tr>
</table>

{% endblock %}
